{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["less$"]
      }
    ],
    ["import", { "libraryName": "antd" }]
  ],
  "ignore": []
}
